{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <div class = "container jumbotron">
        <h1>Seeking new challenges? <br/>Join the realworldone intern team!</h1>
    <input id="room-name-submit" type="button" value="Join"/>

    </div>
    <script>
        document.querySelector('#room-name-submit').click();
        document.querySelector('#room-name-submit').onclick = function(e) {
            window.location.pathname = 'realworldone-intern' + '/';
        };
    </script>
</body>
</html>