{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
    <div class="container room">
        <div class="row h-100 mh-100 chat-room justify-content-center">
            <div class="col-sm-3 mh-100" id="user-list">
                <p>You are connected as:</p>
                <p>{{ username }}</p>
                <div id="logout-link" class="text-right">
                    <a class="text-secondary" href="/accounts/logout">Logout</a>
                </div>

            </div>
            <div class="col-sm-9 d-flex mh-100 flex-column" id="chat-box">
                <div class="p-2 mb-auto d-flex flex-column" id="chat-window">

                    <!--div class="d-flex p-2 flex-row message-reply">
                        <div class="p-2 d-flex flex-column">
                            <div class="p-2" id="author">
                                Test-Author SENTIMENT 
                            </div>
                            <div class="p-2" id="message">
                                Test-message
                            </div>
                        </div>
                    </div>

                    <div class="d-flex p-2 flex-row message-self justify-content-end">
                        <div class="p-2 d-flex flex-column">
                            <div class="p-2" id="author">
                                Test-Author SENTIMENT 
                            </div>
                            <div class="p-2" id="message">
                                Test-message
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                            </div>
                        </div>
                    </div-->

                </div>
                <div class="input-group p-2 mt-auto">
                    <input id="chat-message-input" type="text" class="form-control" placeholder="Type your message here..."><br/>
                    <div class="input-group-append">
                        <input id="chat-message-submit" class="btn btn-secondary" type="button" value="Send"/>
                    </div>
                </div>  
                    
            </div>
        </div>
    </div>
</body>
<script>
    var roomName = {{ room_name_json }};
    var username = {{ username }}; 

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var author = data['author'];
        var sentiment = data['sentiment']
        switch(sentiment){
            case 'Neutral':
                sentiment = '😐'
                break;
            case 'Positive':
                sentiment='🙂'
                break;
            case 'Negative':
                sentiment='☹'
                break;
        }
        let message_class;
        if (author===username){
            message_class = 'message-self justify-content-end';
        }else{
            message_class = 'message-reply';
        }

        chatWindow = document.querySelector('#chat-window');
        chatWindow.innerHTML += 
            '<div class="d-flex p-2 flex-row ' + message_class + '">' +
                '<div class="p-2 d-flex flex-column">' +
                    '<div class="p-2" id="author">' +
                        author + ' ' + sentiment + 
                    '</div>' +
                    '<div class="p-2" id="message">' +
                        message +
                    '</div>' +
                '</div>' +
            '</div><br/>'
            ;
        chatWindow.scrollTop = chatWindow.scrollHeight; 
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'author': username
        }));

        messageInputDom.value = '';
    };
</script>
</html>