body {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 100vh;

  }

#user-list {
    background-color: #243140;
    color: white
  }
  
  #chat-box {
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #chat-window {
    padding: 0ex;
  }

  #login-column {
    background-color: white;
    padding-block: 5em;
  
  }